// Font-awesome
@import './font-awesome/font-awesome.scss';

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Autres
@import ' --resource./animate/animate.scss';
@import './ionicons/ionicons.scss';
@import './owlcarousel/owl.carousel.scss';
@import './lightbox/lightbox.scss';
@import './style.scss';